.headline_cont {
  /* width: 100vw; */
  overflow: hidden;
  padding: 3px;
  transform: translateY(-71px);
  background-color: rgba(171, 169, 169, 1);
  z-index: 70;
}

.headlines {
  font-size: 14px;
  animation: infinite headline_animation 18s linear;
  color: rgba(0, 0, 0, 0.841);
}

@keyframes headline_animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
